body {
    background-color: navajowhite;
}

h2, h3 {
    font-family: 'Arial', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Ombra leggera */
}

.nav-link {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, border-bottom 0.3s;
    border-bottom: 2px solid transparent;
}

.nav-link:hover, .nav-link:focus {
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 2px solid white;
}

.nav-link.active {
    border-bottom: 2px solid white;
}

table {
     border: 3px solid black;
     border-collapse: collapse;
     border-color: black !important;
 }

.card {
    border: 3px solid;
}

#bookForm {
    display: none;
}

#removeBookForm {
    display: none;
}
